

<div class="footer">
    <div class="flex justify-center mb-3">
        <i class="fa-brands fa-linkedin fa-xl ml-3"></i>
        <i class="fa-brands fa-square-instagram fa-xl ml-3"></i>
    </div>

    <div class="flex justify-center">
        <p class="footer">@Gymnastic</p>
        <p class="footer">Privacy&Policy</p>
        <p></p>
    </div>
    
</div>